*/._*
*/.DocumentRevisions-V100/
*/.DS_Store
*/.fseventsd/
*/.Spotlight-V100/
*/.TemporaryItems/
*/.Trash-*/
*/.recycle/
*/.git/

/images/potential-images
/potential-topics

/programming/programming-journey.html
/programming/programming-project-ideas.html

*.org
*.tex
