*/._*
*/.DocumentRevisions-V100/
*/.DS_Store
*/.fseventsd/
*/.Spotlight-V100/
*/.TemporaryItems/
*/.Trash-*/
*/.recycle/
*/.git/


/images/potential-blog-images
/potential-topics
/programming/debate-software-idea


*.org
*.txt
*.tex


sitemap.xml
