/*** reset ***/
html, body, div, span, h1, h2, h3, p, a, img, strong, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}

/*** ID Atttributes Used In Org-Mode HTML Output ***/
#org-div-home-and-up {
    font-size: 110%;
    font-weight: bold;
}

#content, #postamble {
    font-size: 100%;
}

/*** universal ***/
p {
    line-height: 1.3em;
    text-align: left;
    margin: 0px 0px 5px 0px;
}

a {
    color: #0051D4;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
a:focus {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

.timestamp {
    color: #005500;
}

#table-of-contents ul {
    margin: 0px 0px 5px 0px;
    font-size: 100%;
    list-style-type: none;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #0051D4;
    text-decoration-thickness: 1px;
}
#table-of-contents ul li {
    margin: 0px 0px 5px 10px;
}
#table-of-contents ul li ul li {
    margin: 0px 0px 5px 20px;
}

ul li, ol li {
    margin: 0px 0px 05px 20px;
    line-height: 1.3em;
}

.figure p, img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

pre, code {
    font-family: 'Inconsolata', sans-serif;
}

blockquote {
    font-style: italic;
}

.org-dl {
    line-height: 1.3em;
    margin: 0px 0px 05px 0px;
}

table {
    max-width: 100%;
    font-size: 0.9em;
    margin: 15px auto 15px auto;
    border-top: solid black 1px;
}

table, th {
    border-bottom: solid black 1px;
}

td, th {
    padding: 6px;
}

hr {
    border: none;
    border-top: solid black 2px;}

h1 {
    text-align: center;
    font-size: 2.0em;
    border-top: solid black 2px;
    max-width: 100%;
    margin: 20px auto 0;
    padding: 10px 0 0 0;
}

h2 {
    font-size: 1.6em;
    border-top: solid black 2px;
    margin: 20px 0px 10px 0px;
    padding: 15px 0 0 0;
}

h3 {
    font-size: 1.25em;
    border-top: solid black 1px;
    margin: 10px 0px 10px 0px;
    padding: 15px 0 0 0;
}

h4 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
    padding: 15px 0 0 0;
}

h5 {
    font-size: 1em;
    margin: 10px 0px 10px 0px;
    padding: 15px 0 0 0;
}

/** main **/
html {
    background-color: #808080;
} /* controls background color behind rectangular text body */

body {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    color: black; /* font color */
    background-color: #F4F5F6; /* color behind text */
    margin: 0 auto 0 auto;
    padding: 3%;
    max-width: 20cm;
    overflow-x: scroll;
}

header {
    text-align: center;
    width: 100%;
    border-bottom: solid black 2px;
    float: left;
    padding: 10px 0;
}

footer {
    text-align: center;
    font-size: 1.25em;
    width: 100%;
    float: left;
    padding: 20px 0;
}

/* Light Mode */
@media (prefers-color-scheme: light) {
    body {
        color: black; /* font color */
        background-color: #F4F5F6; /* color behind text */
    }
    html {
        background-color: #808080;
    } /* controls background color behind rectangular text body */
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    a {
        color: #5294FF;
        text-decoration-color: #5294FF;
    }
    #table-of-contents ul {
        text-decoration-color: #5294FF;
    }
    table {
        border-top-color: white;
    }
    table, th {
        border-bottom-color: white;
    }
    hr, h1, h2, h3 {
        border-top-color: white;
    }
    html {
        background-color: #111111;
    }
    header {
        border-bottom-color: white;
    }
    body {
        color: #F4F5F6;
        background-color: black;
    }
}
